<!DOCTYPE html>
<html class="xray inner" data-type="website">

{% include "head.tmpl" %}

<body>
    {% include "header.tmpl" %}
    {% block body %}{% endblock body %}
    {% include "footer.tmpl" %}
</body>

</html>