<footer class="xray" data-type="footer">
    <hr />
    <node-summary class="xray" data-type="node-summary">
        <node-protocol>hyper text transfer protocol (http://)</node-protocol>
        <node-network>world wide web (www)</node-network>
        <node-server>jakintosh.com</node-server>
    </node-summary>
    <a href="{{ base_url }}/#copyleft">
        <p><span class="copyleft">©</span> ∞ Human Kind</p>
    </a>
</footer>