/* ======== Font Import ========= */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ======== Color Schemes ======== */

:root {

	/* background */
	--bg0: rgb(var(--bg0-raw));
	--bg: rgb(var(--bg-raw));
	--bg2: rgb(var(--bg2-raw));
	--bg3: rgb(var(--bg3-raw));
	--bg4: rgb(var(--bg4-raw));

	/* foreground */
	--fg0: rgb(var(--fg0-raw));
	--fg: rgb(var(--fg-raw));
	--fg2: rgb(var(--fg2-raw));
	--fg3: rgb(var(--fg3-raw));
	--fg4: rgb(var(--fg4-raw));

	/* accents */
	--interactive-color: rgb(var(--interactive-color-raw));
	--interactive-color-invert: rgb(var(--interactive-color-invert-raw));

	--accent-color: rgb(var(--accent-color-raw));
	--accent-color-invert: rgb(var(--accent-color-invert-raw));


	/* raw colors that don't change ever */
	--light0-raw: 255, 255, 255;
	--light1-raw: 246, 246, 246;
	--light2-raw: 220, 220, 220;
	--light3-raw: 200, 200, 200;
	--light4-raw: 180, 180, 180;
	--interactive-light-raw: 51, 170, 97;
	--accent-light-raw: 125, 70, 255;

	--dark0-raw: 0, 0, 0;
	--dark1-raw: 20, 20, 20;
	--dark2-raw: 40, 40, 40;
	--dark3-raw: 60, 60, 60;
	--dark4-raw: 80, 80, 80;
	--interactive-dark-raw: 46, 223, 113;
	--accent-dark-raw: 154, 110, 255;
	/* --accent-dark-raw: rgb(154, 110, 255); */

	/* contextual raw assignments */
	--bg0-raw: var(--light0-raw);
	--bg-raw: var(--light1-raw);
	--bg2-raw: var(--light2-raw);
	--bg3-raw: var(--light3-raw);
	--bg4-raw: var(--light4-raw);

	--fg0-raw: var(--dark0-raw);
	--fg-raw: var(--dark1-raw);
	--fg2-raw: var(--dark2-raw);
	--fg3-raw: var(--dark3-raw);
	--fg4-raw: var(--dark4-raw);

	--interactive-color-raw: var(--interactive-light-raw);
	--interactive-color-invert-raw: var(--interactive-dark-raw);

	--accent-color-raw: var(--accent-light-raw);
	--accent-color-invert-raw: var(--accent-dark-raw);
}

@media (prefers-color-scheme: dark) {
	:root {

		/* background */
		--bg0-raw: var(--dark0-raw);
		--bg-raw: var(--dark1-raw);
		--bg2-raw: var(--dark2-raw);
		--bg3-raw: var(--dark3-raw);
		--bg4-raw: var(--dark4-raw);

		/* foreground */
		--fg0-raw: var(--light0-raw);
		--fg-raw: var(--light1-raw);
		--fg2-raw: var(--light2-raw);
		--fg3-raw: var(--light3-raw);
		--fg4-raw: var(--light4-raw);

		/* interactive */
		--interactive-color-raw: var(--interactive-dark-raw);
		--interactive-color-invert-raw: var(--interactive-light-raw);

		/* accent */
		--accent-color-raw: var(--accent-dark-raw);
		--accent-color-invert-raw: var(--accent-light-raw);
	}
}

/* ======== Styles ======== */

* {
	box-sizing: border-box;
}

:root {
	-webkit-text-size-adjust: 100%;

	--content-width: 47rem;
	--body-padding: 3rem;
	--left-content-margin: calc((100vw - var(--content-width)) / 2);
	--right-content-margin: calc((100vw - var(--content-width)) / 2);

	--content-gutter-width: 13rem;
	--sidebar-gutter-width: 13rem;
	--gutter-padding: 1rem;

	--left-safe-area: max(0rem, env(safe-area-inset-left));
	--right-safe-area: max(0rem, env(safe-area-inset-right));
	--bottom-safe-area: max(0rem, env(safe-area-inset-bottom));

	--font-size: 12pt;
	--header-font-size: calc(var(--font-size) * 3);
	--font-color: var(--fg);
	--reading-font: 'Inter', sans-serif;
	--heading-font: sans-serif;
	--impact-font: 'Ubuntu Mono', monospace;

	padding: 0;
	margin: 0;

	font-size: var(--font-size);
	font-family: var(--reading-font);

	color: var(--font-color);
	background-color: var(--bg0)
}

a {
	color: var(--font-color);
	font-family: var(--impact-font);
	font-weight: 700;
	text-decoration: underline;
}

/* 
p a:hover::after {
	content: " >>";
	font-family: var(--reading-font);
} */

a:hover {
	color: var(--interactive-color);
}

strong {
	--accent-color: rgb(var(--accent-color-invert-raw));
	--interactive-color: var(--interactive-color-invert);
	--font-color: var(--bg);

	color: var(--font-color);
	font-family: var(--impact-font);
	font-style: normal;
	background-color: var(--fg);
	padding: 0.2em 0.3em 0.2em 0.3em;
	margin: -0.2em 0.2em -0.2em 0em;
	box-shadow: var(--accent-color) 0.2em 0.2em;
}

@media (prefers-color-scheme: dark) {
	strong {
		--font-color: var(--fg);

		background-color: var(--accent-color);
		box-shadow: var(--fg) 0.2em 0.2em;
	}
}

em {
	font-style: italic;
}

h1 {
	font-family: var(--heading-font);
	font-size: var(--header-font-size);
	line-height: 90%;
	margin-block-start: 0;
	margin-block-end: 0.5em;
}

h2,
x-subsection>x-section-title {
	font-size: 125%;
	font-weight: bold;
	text-transform: uppercase;
	margin-block-start: 3rem;
	margin-block-end: 0.75rem;
}

h2:first-child,
x-subsection>x-section-title:first-child {
	margin-block-start: 0;
}

h2::before,
x-subsection>x-section-title::before {
	content: "--> ";
	margin-left: calc(-1 * var(--article-padding));
}

p {
	font-size: var(--font-size);
	font-weight: 300;
	line-height: 170%;
	margin-top: 1.33em;
	margin-bottom: 1.33em;
}

ol {
	font-family: var(--reading-font);
	font-weight: 300;
	line-height: 170%;

	margin: 0;
	padding-left: 0em;

	counter-reset: number;
}

ol>li {
	list-style: none;

	position: relative;
	margin-bottom: 0.75em;
	padding: 0.75em;
	padding-left: 2.75em;

	background-color: var(--bg0);

	border: var(--fg) solid 1pt;

	box-shadow: var(--fg) 2pt 2pt 0;

	counter-increment: number;
}

ol>li::before {
	display: block;
	position: absolute;

	content: counter(number);
	color: var(--bg);
	font-weight: 700;
	text-align: center;

	height: calc(100% - 0.75em);
	width: 2em;
	left: 0em;
	top: 0em;
	padding-top: 0.75em;

	background-color: var(--accent-color);
}

ol>li:last-child {
	margin-bottom: 0;
}

body {
	background-color: var(--bg);
	min-height: 100vh;

	margin-top: 0;
	margin-bottom: 0;
	margin-left: var(--left-content-margin);
	margin-right: 0;

	padding-top: var(--body-padding);
	padding-bottom: var(--body-padding);
	padding-left: var(--body-padding);
	padding-right: calc(var(--body-padding) + var(--right-content-margin));
}

.content-container {
	--article-padding: 1rem;

	counter-reset: section;
	margin-top: 1.5rem;
	padding: var(--article-padding);
}

.content-container.with-gutter {

	margin-right: calc(-1 * var(--content-gutter-width));
	padding-right: calc(var(--content-gutter-width) + var(--article-padding));
}

.content-container>*:first-child {
	margin-top: 0;
}

.content-container>*:last-child {
	margin-bottom: 0;
}

pre {
	overflow-x: scroll;

	margin-bottom: 0;
	padding: 1.5em;

	background-color: var(--bg2);
	border: var(--bg4) solid 0.75pt;
}

pre:hover {
	margin-right: calc(-1 * var(--content-gutter-width));
	padding-right: var(--content-gutter-width);
}

p code {
	font-family: var(--impact-font);
	font-weight: lighter;
	color: var(--fg0);
	background-color: var(--bg3);
	padding: 0.2em 0.3em 0.2em 0.3em;
	margin: -0.2em 0.1em -0.2em 0em;
	box-shadow: var(--fg4) 0.15em 0.15em;
}

aside {
	font-size: 0.9em;
	font-weight: 300;
	line-height: 150%;
	background-color: var(--bg0);
	padding: 1em 1.5em;
	margin: 1.33em;
}

aside::before {
	content: "■ Sidenote";
	font-weight: bold;
	margin-bottom: 0.25rem;
}

aside>*:first-child {
	margin-block-start: 0;
}

aside>*:last-child {
	margin-block-end: 0;
}

footer {
	margin-top: 1.5rem;
	padding: 1rem;
	padding-top: 0;
	padding-bottom: calc(1rem + var(--bottom-safe-area));
}

footer hr {
	border-color: var(--fg);
	border-style: solid;
	border-width: 0.5pt;
	margin: 0 0 1rem 0;
}

footer p {
	text-align: center;
	font-family: var(--impact-font);
	margin: 0;
}


/* ======== Navigation ======== */

nav,
nav.xray {
	--bar-color: var(--fg);

	position: fixed;
	width: calc(var(--sidebar-gutter-width) - var(--gutter-padding));
	top: 6rem;
	left: calc(var(--left-content-margin) - var(--sidebar-gutter-width));
	padding: 0.5rem;
	padding-right: 0;
	border-right: 1pt solid var(--bar-color);
}

nav a {
	display: block;
	color: var(--fg);
	font-weight: 400;
	padding: 0.5rem;
	text-decoration: none;
	text-shadow: none;
}

nav a.nested {
	padding-left: 1rem;
}

/* ======== Content Sections ======== */

section {
	margin-block-start: 2rem;
	margin-block-end: 2rem;
}

x-subsection {
	display: block;
	margin-block-start: 2em;
	margin-block-end: 3em;
}

section>*:last-child,
x-subsection>*:last-child {
	margin-block-end: 0;
}

section.status-quo,
section.new-concept,
section.thought-experiment,
section.site-sections,
section.recent-posts,
section.chapter-preview,
section.recap {
	display: block;
	padding: calc(1.5 * var(--article-padding));
	margin: 1.33rem 0;
	background-color: var(--bg0);
}

section.status-quo,
section.site-sections,
section.recent-posts,
section.chapter-preview,
section.recap {
	border: 1px solid var(--fg);
	box-shadow: var(--fg2) 4pt 4pt 0;
	margin-right: 4pt;
}

section.thought-experiment {
	background-color: var(--bg2);
	border: 1pt dashed var(--fg4);
}

section.new-concept {
	border: 1px solid var(--fg);
	box-shadow: var(--accent-color) 4pt 4pt 0;
	margin-right: 4pt;
}

.content-container>section:not(:first-of-type)::before {
	content: "~~~";
	display: block;
	font-size: 48pt;
	margin: 3rem auto;
	width: 100%;
	text-align: center;
}


section>x-section-title {
	display: block;
	font-size: 1.5rem;
	font-weight: bold;
	font-family: var(--heading-font);
	margin-bottom: 0.25em;
}

section>x-section-title::before,
x-axiom::before,
x-concept::before,
aside::before {
	display: block;
	margin-bottom: 0.75em;

	font-family: var(--impact-font);
	font-size: 0.75rem;
	text-transform: uppercase;
}


.content-container>section>x-section-title::before {
	content: "■ section "counter(section) ":";
	font-weight: bold;
	counter-increment: section;
}


section.status-quo>x-section-title::before {
	content: "■ Status Quo";
}

section.new-concept>x-section-title::before {
	content: "■ New Concept";
	color: var(--accent-color);
}

section.thought-experiment>x-section-title::before {
	content: "■ Thought Experiment";
}

section.site-sections>x-section-title::before {
	content: "■ Content Group";
}

section.recent-posts>x-section-title::before {
	content: "■ Content Group";
}

section.chapter-preview>x-section-title::before {
	content: "■ Chapter Preview";
}

section.recap>x-section-title::before {
	content: "■ Recap";
}

x-field {
	display: inline;
	font-size: 85%;
	font-weight: bold;
	font-family: var(--impact-font);
	color: var(--accent-color);
}

section.status-quo x-field {
	color: var(--fg);
}

x-field:first-of-type::before {
	content: "Field: ";
	font-weight: normal;
	color: var(--fg3);
}

x-field:not(:first-of-type)::before {
	content: "and";
	padding-inline-end: 0.5em;
	font-weight: normal;
	color: var(--fg3);
}

x-definition>*:last-child {
	margin-block-end: 0;
}

x-related-concept {
	display: inline;
	font-size: 85%;
	font-weight: bold;
	font-family: var(--impact-font);
	color: var(--accent-color);
}

x-related-concept:first-of-type::before {
	content: "Related Concept: ";
	font-weight: normal;
	color: var(--fg3);
}

x-related-concept:not(:first-of-type)::before {
	content: "and";
	padding-inline-end: 0.5em;
	font-weight: normal;
	color: var(--fg3);
}

section.proof {
	max-width: 360pt;
	margin-left: auto;
	margin-right: auto;
}

x-concept,
x-axiom {
	display: block;
	padding: 0.25em 0.5em;
	background-color: var(--bg0);
	font-weight: bold;
	font-size: 120%;
	border: var(--fg) solid 1pt;
}

x-given,
x-then {
	display: block;
	position: relative;
	padding-top: 2.5em;
	padding-bottom: 1em;
	padding-left: 1em;
	margin: 1em 0;
	border-left: var(--fg) solid 1pt;
}

x-axiom::before {
	content: "■ axiom";
}

x-concept::before {
	content: "■ concept";
}

x-given::before {
	content: "given";
}

x-then::before {
	content: "then";
}

x-and::before {
	content: "and";
}

x-or::before {
	content: "or";
}

x-and::before,
x-or::before {
	display: block;
	margin: 1em 4em;
	padding: 0.333em 1em;
	border: var(--fg) solid 1pt;
	background-color: var(--bg0);
	font-size: 75%;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

x-given::before,
x-then::before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.333em 1em;
	border: var(--fg) solid 1pt;
	color: var(--bg0);
	background-color: var(--accent-color);
	border-left: none;
	font-size: 75%;
	font-weight: bold;
	text-transform: uppercase;
}

x-given::after,
x-then::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 33%;
	border-bottom: var(--fg) solid 1pt;
}

section.proof section.status-quo,
section.proof section.new-concept {
	margin: 0;
	margin-bottom: 4pt;
}

x-collection>*:last-child {
	margin-bottom: 0;
}

/* ======== Node Summary ======== */

node-summary {
	font-family: var(--impact-font);
	font-size: 80%;
	display: block;
	background-color: var(--bg0);
	padding: 0.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	outline: 0.5pt dashed rgba(var(--fg4-raw), 0.5);
	width: auto;
}

node-summary * {
	display: block;
}

node-summary *::before {
	font-size: 80%;
	color: var(--fg3);
}

node-server::before {
	content: "hostname: ";
}

node-network::before {
	content: "network: ";
}

node-protocol::before {
	content: "protocol: ";
}


/* ======== Content Previews ======== */

.recent-posts>a {
	display: block;
	padding: 0.75rem;
}

.recent-posts>a:hover::after {
	content: "()";
}


content-preview {
	--element-padding: 0.25rem;

	display: block;
	box-sizing: content-box;
	position: relative;
	margin-bottom: 0.33em;
	padding: var(--element-padding);
	font-family: var(--impact-font);
	background-color: var(--bg0);
}

content-preview>a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

content-preview:hover {
	color: var(--interactive-color);
	box-shadow: var(--interactive-color) 0.3em 0.3em;
}

content-preview:hover>content-title::after {
	content: " >>";
}

content-preview content-title {
	display: block;
	margin-bottom: 0.2em;
	font-size: 125%;
	font-weight: 700;
	text-decoration: underline;
}

content-preview published-date {
	display: block;
	font-size: 80%;
	color: var(--fg3);
}

x-article-header {
	--font-color: var(--bg0);
	color: var(--font-color);
	display: block;
	margin-right: 8pt;
	margin-bottom: 3rem;
	background-color: var(--fg);
	box-shadow: var(--accent-color-invert) 8px 8px 0;
	padding: 1.5rem;
}

@media (prefers-color-scheme: dark) {
	x-article-header {
		--font-color: var(--fg);

		background-color: var(--accent-color-invert);
		box-shadow: var(--fg) 8px 8px 0;
	}
}

x-article-header x-title {
	display: block;
	font-size: var(--header-font-size);
	font-weight: bold;
	margin-bottom: 0.33rem;
}

x-article-header x-author {
	font-weight: bold;
	margin-inline-end: 0.5em;
}

x-article-header x-author::before {
	content: "@";
}

x-article-header x-date {
	font-family: var(--impact-font);
}

x-change {
	display: block;
	position: relative;
	padding-left: calc(1.5em + 4pt);
	margin: 1rem 0;
}

x-change::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 0.5em;
	height: 0.5em;
	margin: 0 0.5em;
	border: var(--fg) solid 2pt;
	border-radius: 0.5em;
	transform: scale(0.75);
}

x-change:first-of-type::before {
	background-color: var(--accent-color);
	transform: none;
}

x-change:not(:last-of-type)::after {
	content: "";
	display: block;
	position: absolute;
	top: calc(0.5em + 4pt + 2pt);
	left: calc(((1.5em + 4pt) / 2) - 0.5pt);
	height: calc(100% - 4pt);

	border-left: var(--fg) solid 1pt;
}

x-change x-date {
	display: block;
	margin: 0;
	font-size: 80%;
	font-weight: bold;
	font-family: var(--heading-font);
	text-transform: uppercase;
}

x-change p {
	display: block;
	font-size: 80%;
	margin-block: 0.33em 0;
}

/* ======== Misc Styles ========*/

.copyleft {
	font-size: 1.25em;
	display: inline-block;
	transform: scale(-1, 1);
}

x-arrow-connector {
	display: block;
	background-color: var(--fg);
	margin: 1.5rem auto;
	width: 2px;
	height: 60px;
}

x-arrow-connector::before {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	border: var(--fg) solid 2px;
	transform: translateX(-5px) translateY(-10px);
}

x-arrow-connector::after {
	content: "";
	display: block;
	border: 12px solid transparent;
	border-top: 12px solid var(--fg);
	transform: translateX(-11px) translateY(48px) scaleX(0.66);
}


/* ======== Landscape Phones and Tablets ======== */

@media screen and (max-width:1100px) {
	:root {
		--sidebar-gutter-width: 18vw;
		--content-gutter-width: 0rem;
		--left-content-margin: calc(var(--sidebar-gutter-width) + var(--left-safe-area));
		--right-content-margin: max(0rem, calc(100vw - var(--content-width) - var(--left-content-margin) - var(--right-safe-area)));
	}

	nav,
	nav.xray {
		top: var(--body-padding);
	}
}


/* ======== Mobile-Portrait ======== */

@media screen and (max-width: 600px) {
	:root {
		--sidebar-gutter-width: 0rem;
		--content-width: 100vw;
		--body-padding: 1.5rem;

		--font-size: 12pt;
		--header-font-size: calc(var(--font-size) * 2);
	}

	body {
		padding-top: 0rem;
	}

	node-summary {

		padding: var(--body-padding);
		padding-top: calc(var(--body-padding));
		outline: none;
	}

	nav,
	nav.xray {
		position: initial;
		left: initial;
		top: initial;
		width: auto;
		padding: var(--body-padding);
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		margin-top: 0rem;
		margin-bottom: 2rem;
		margin-left: calc(-1 * var(--body-padding));
		margin-right: calc(-1 * var(--body-padding));

		background-color: var(--bg0);
		border: none;
	}

	nav a {
		padding-left: 0;
		padding-right: 0;
		/* margin-top: 0.5rem; */
	}

	.content-container {
		--article-padding: 0.5rem;
		padding: 0rem;
	}

	footer {
		margin-top: 2rem;
		padding: 0rem;
	}

}

/* ======== Enable Hover Elements ======== */

@media screen and (any-hover: hover) {

	nav:hover {
		--bar-color: var(--interactive-color);
	}

	nav a:hover {
		color: var(--interactive-color);
		background-color: var(--bg);
	}

	nav a:hover::after {
		content: "()";
	}
}

/* ======== Enable Xray on Larger Screens ======== */

@media screen and (min-width: 600px) and (any-hover: hover) {

	.xray {
		position: relative;
	}

	.xray:hover {
		outline: 0.5pt dashed rgba(var(--fg-raw), 0.5);
	}

	.xray:hover::before {
		content: attr(data-type);
		font-family: var(--impact-font);
		font-size: 0.5rem;
		font-weight: bold;
		position: absolute;
		display: inline;
		padding: 0.2em 0.4em;
		top: -0.9rem;
		left: 0;
		outline: 0.5pt dashed rgba(var(--fg-raw), 0.5);
	}

	.inner.xray:hover {
		outline-offset: -0.25pt;
	}

	.inner.xray:hover::before {
		top: 0.25rem;
		left: 0.25rem;
	}

	.right.xray:hover::before {
		left: initial;
		right: 0.25rem;
	}

	.right.inner.xray:hover::before {
		left: initial;
		right: 0.25rem;
	}
}